/*Fonts from Google Fonts*/
.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Background Image and colour*/
.backGroundImage{
	background-image:url("../images/oceanBackground.jpg");
}

body{
	background-color:#5852CE;
}
/*Navbar Assests and Colouring*/
.logoImage{
	width:5%;
	margin-right:5px;
}

.navbar{
	background-color:#0F0B56;
}

.container-fluid{
	background-color:#5852CE;
}

.navbar navbar-expand-lg bg-body-tertiary{
	background-color:#5852CE;
}
.collapse navbar-collapse{
	background-color:#5852CE;
}

/*Text sizing and styling*/
.title{
	font-family: "Fascinate Inline", system-ui;
	text-align:center;
	font-size:28px;
}
.paragraph{
	font-family: "Story Script", sans-serif;
}

/*Lower paragraphs*/
examples-p1{
	display:inline;
	font-size:14px;
}

examples-p2{
	display:inline;
	font-size:14px;
}

examples-p3{
	display:inline;
	font-size:14px;
}

examples-p4{
	display:inline;
	font-size:14px;
}

/*Lower Images*/
.examples-image1{
	size:123px;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.examples-image2{
	size:123px;
	display:block;
	float:right;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.examples-image3{
	width:123px;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.footer{
	text-align:center;
}