/*Fonts from Google Fonts*/
.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Background Image*/
.backGroundImage{
	background-image:url("../images/oceanBackground.jpg");
}
/*Navbar Assests and Colouring*/
.logoImage{
	width:5%;
	margin-right:5px;
}

.navbar{
	background-color:#0F0B56;
}

.container-fluid{
	background-color:#5852CE;
}

.navbar navbar-expand-lg bg-body-tertiary{
	background-color:#5852CE;
}
.collapse navbar-collapse{
	
}
.title{
	font-family: "Fascinate Inline", system-ui;
	text-align:center;
	font-size:28px;
}
.paragraph{
	font-family: "Story Script", sans-serif;
}
.centeralArea{
	display:block;
	text-align:center;
	width:50%;
}

.image-of-marine-biodiversity{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.dropboxes{
	display:block;
	margin-left:50%;
}

examples-p1{
	text-align:left;
	font-size:14px;
}

examples-p2{
	text-align:right;
	font-size:14px;
}

examples-p3{
	text-align:left;
	font-size:14px;
}

examples-p4{
	text-align:right;
	font-size:14px;
}

.examples-image1{
	display:block;
	margin-left:auto;
	width:50%;
}

.examples-image2{
	display:block;
	margin-right:auto;
	width:50%;
}

.examples-image3{
	display:block;
	margin-left:auto;
	width:50%;
}

.examples-image4{
	display:block;
	margin-right:auto;
	width:50%;
}

.footer{
	text-align:center;
}