header{
	text-align:center;
	font-size:14px;
}

examples{
	text-align:left;
	font-size:14px;
}

.examples-image1{
	margin-left:auto;
}

.examples-image2{
	margin-right:auto;
}

.examples-image3{
	margin-left:auto;
}

.examples-image4{
	margin-right:auto;
}